<template>
    <div class="rutas-main-component">
        <div class="rutas-content">
            <h2>Rutas</h2>
            <br>
            <table class="table table-bordered">
                <thead>
                    <tr class="trHeader">
                        <th> Id</th>
                        <th> Origen</th>
                        <th> Destino</th>
                        <th> Fecha</th>
                        <th> Distancia</th>
                        <th> Tiempo</th>
                        <th> Estado</th>
                    </tr>
                </thead>
                <tr class="trData" v-for="rutas in rutas" v-on:click="processRutaConsultar(rutas.id)">
                    <td v-for="ruta in rutas" >
                        {{ruta}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script >
import axios from 'axios';

	export default {
		data: function(){
			return {
				rutas: []
			}
		},
        methods: {
            processRutaConsultar: function(rutaid){
                this.$emit('processRutaConsultar', rutaid)
            },

            processRutaRutas: function(){
                axios.get(
                //`http://127.0.0.1:8000/ruta/rutas/`,
                `https://viajes-mintic-2022-be.herokuapp.com/ruta/rutas/`, 
                {headers: {}}
                )
                .then(
                    response => {
                        this.rutas = response.data
                        console.log(response)
                    })
                .catch(function(error){
                    console.log(error)
                })
            }
        },
		created () {
			this.processRutaRutas();
            let dataRutaRutas = {
                        inicio: '',
                        rol: 'dropdown',
                        usuario:'dropdown',
                        vehiculo: 'dropdown',
                        ruta: 'dropdown',
                        tarifa: 'dropdown',
                        consulta: 'dropdown active',
                        compra: 'dropdown',
                    }
            this.$emit('completedRutaRutas', dataRutaRutas)
		}
	}
</script>

<style type="text/css">
.rutas-main-component{
    margin: 0;
    padding: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Arial';
}
.rutas-content{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}	
.rutas-content ul{
    list-style: none;
}
.rutas-content li{
    display: inline;
}
.rutas-content table{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	margin: 0 auto;
	width: 50%;
	line-height: 25px;
}
.rutas-content table th{
	background: #35BEAC;
	-webkit-border-radius: 7px 7px 0 0;
	border-radius: 7px 7px 0 0;
	border-bottom: 3pt solid #35BEAC;
}
.rutas-content table th:first-child{
	padding: 10px;
	text-align: left;
}
.rutas-content table th:nth-last-child(-n+2){
	text-align: center;
}
.rutas-content tr{
	background: #d1f3ef;
	opacity: 0.8;
}
.rutas-content .trData:hover{
	opacity: 1;
}
.rutas-content tr td:first-child{
	text-align: left;
}
.rutas-content tr td:nth-last-child(-n+2){
	text-align: center;
}
.rutas-content td{
	padding: 5px;
	color:black;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.rutas-content .trData:nth-last-child(-n+10):hover{
	transform: scale(1.2);
}
</style>