<template>
    <div class="rutacrear-main-component">
        <div class="rutacrear-content">
            <h2>Crear Rutas</h2>
            <br>
            <form class="rutacrear-form" v-on:submit.prevent="processRutaCrear">
              <label>Origen: </label>
              <input type="text" v-model="ruta.origen">
              <br>
              <label>Destino: </label>
              <input type="text" v-model="ruta.destino">
              <br>
              <label>Fecha: </label>
              <input type="date" v-model="ruta.fecha">
              <br>
              <label>Distancia: </label>
              <input type="number" v-model="ruta.distancia" placeholder="KM">
              <br>
              <label>Tiempo: </label>
              <input type="number" v-model="ruta.tiempo" placeholder="Segundos">
              <br>
              <label>Estado: </label>
              <input type="text" v-model="ruta.estado" placeholder="A/X">
              <br>
              <br>
              <dir class="rutacrear-content-button">
                <button type="submit">Crear</button>
              </dir>
            </form>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: "RutaCrear",

    data: function(){
      return {
        ruta: {
          origen: "",
          destino: "",
          fecha: (new Date()).toJSON().toString(),
          distancia: "",
          tiempo: "",
          estado: ""
        }
      }
    },

    methods: {
      clearData: function(data) {
        this.ruta.origen = "";
        this.ruta.destino = "";
        this.ruta.fecha = "";
        this.ruta.distancia = "";
        this.ruta.tiempo = "";
        this.ruta.estado = "";
      },

      processRutaCrear: function(){
          axios.post(
              //"http://127.0.0.1:8000/ruta/", 
              "https://viajes-mintic-2022-be.herokuapp.com/ruta/", 
              this.ruta,  
              {headers: {}}
          )
              .then((response) => {
                  let dataRutaCrear = {
                      inicio: '',
                      rol: 'dropdown',
                      usuario: 'dropdown',
                      vehiculo: 'dropdown',
                      ruta: 'dropdown active',
                      tarifa: 'dropdown',
                      consulta: 'dropdown',
                      compra: 'dropdown',
                  }
                  alert("Ruta creada exitosamente. Id: " + response.data);
                  this.clearData();
                  this.$emit('processedRutaCrear', dataRutaCrear)
              })
              .catch((error) => {
                  console.log(error)
                  alert("Error en la creacion de la ruta.");
              });
      }
    },

    created: function(){
        let dataRutaCrear = {
                        inicio: '',
                        rol: 'dropdown',
                        usuario:'dropdown',
                        vehiculo: 'dropdown',
                        ruta: 'dropdown active',
                        tarifa: 'dropdown',
                        consulta: 'dropdown',
                        compra: 'dropdown',
                    }
        this.$emit('completedRutaCrear', dataRutaCrear)
    },
}
</script>

<style>
  
  .rutacrear-main-component{
    margin: 0;
    padding: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Arial';
  }
  .rutacrear-content{
    width: 25%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rutacrear-content h2{
    text-align: center;
  }
  .rutacrear-content .rutacrear-form{
    width: 70%;
  }
  .rutacrear-content label{
    display: inline-block;
    width: 80px;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 3px;
    font-weight: bold;
  }
  .rutacrear-content input{
    display: inline-block;
    width: 60%;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
  }
  .rutacrear-content-button{
    text-align: center;
    padding: 10px 25px;
    margin: 5px 0 25px 0;
  }
  .rutacrear-content button{
    display: inline-block;
    width: 80%;
    height: 40px;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 5px 0 25px 0;
    justify-content: center;
    font-weight: bold;
  }
  .rutacrear-content button:hover{
    color: #E5E7E9;
    background: #058d7b;
    border: 1px solid #283747;
  }
</style>