<template>
    <div class="rutaconsultarmodificar-main-component">
        <div class="rutaconsultarmodificar-content">
            <h2>Consultar/Modificar Rutas</h2>
            <br>
            <form class="rutaconsultarmodificar-form1" v-on:submit.prevent="">
              <label>ID: </label>
              <input type="text" v-model="ruta.id">
              <button type="submit" v-on:click="processRutaConsultar">Consultar</button>
            </form>
            <br>
            <hr class="new4">
            <br>
            <form class="rutaconsultarmodificar-form2" v-on:submit.prevent="">
              <label>Origen: </label>
              <input type="text" v-model="ruta.origen">
              <br>
              <label>Destino: </label>
              <input type="text" v-model="ruta.destino">
              <br>
              <label>Fecha: </label>
              <input type="date" v-model="ruta.fecha">
              <br>
              <label>Distancia: </label>
              <input type="number" v-model="ruta.distancia" placeholder="KM">
              <br>
              <label>Tiempo: </label>
              <input type="number" v-model="ruta.tiempo" placeholder="Segundos">
              <br>
              <label>Estado: </label>
              <input type="text" v-model="ruta.estado" placeholder="A/X">
              <br>
              <br>
              <div class="rutaconsultarmodificar-content-button">
                <button type="submit" v-if="rutaexists" v-on:click="processRutaModificar">Modificar</button>
                <button type="submit" v-if="rutaexists" v-on:click="processRutaEliminar">Eliminar</button>
              </div>
            </form>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: "RutaConsultarModificar",

    data: function(){
      return {
        rutaexists: false,
        ruta: {
          id: "",
          origen: "",
          destino: "",
          fecha: (new Date()).toJSON().toString(),
          distancia: "",
          tiempo: "",
          estado: ""
        }
      }
    },

    methods:{
      clearData: function(data) {
        this.ruta.origen = "";
        this.ruta.destino = "";
        this.ruta.fecha = "";
        this.ruta.distancia = "";
        this.ruta.tiempo = "";
        this.ruta.estado = "";
        this.rutaexists = false;
      },

      processRutaConsultar: function(){
        this.clearData();
        let rutaId = this.ruta.id;
        axios.get(
            //`http://127.0.0.1:8000/ruta/${rutaId}/`,
            `https://viajes-mintic-2022-be.herokuapp.com/ruta/${rutaId}/`, 
            {headers: {}}
        )
        .then((response) => {
            this.ruta.origen = response.data.origen;
            this.ruta.destino = response.data.destino;
            this.ruta.fecha = response.data.fecha;
            this.ruta.distancia = response.data.distancia;
            this.ruta.tiempo = response.data.tiempo.split(':').reduce((acc,time) => (60 * acc) + +time);;
            this.ruta.estado = response.data.estado;
            this.rutaexists = true;
        })
        .catch((error) => {
            console.log(error)
            alert("Error consultando la ruta.");
        });
      },

      processRutaModificar: function(){
        let rutaId = this.ruta.id;
        axios.put(
            //`http://127.0.0.1:8000/ruta/${rutaId}/`, 
            `https://viajes-mintic-2022-be.herokuapp.com/ruta/${rutaId}/`,
            this.ruta,
            {headers: {}}
        )
        .then((response) => {
            alert("Ruta actualizada correctamente.");
            this.rutaexists = false;
            this.clearData();
        })
        .catch((error) => {
            console.log(error)
            alert("Error actualizando la ruta.");
        });
      },

      processRutaEliminar: function(){
        let rutaId = this.ruta.id;
        axios.delete(
            //`http://127.0.0.1:8000/ruta/${rutaId}/`, 
            `https://viajes-mintic-2022-be.herokuapp.com/ruta/${rutaId}/`,
            {headers: {}}
        )
        .then((response) => {
            alert("Ruta eliminada correctamente.");
            this.rutaexists = false;
            this.clearData();
        })
        .catch((error) => {
            console.log(error)
            alert("Error eliminando la ruta.");
        });
      },
    },

    created: function(){
        if (localStorage.getItem("rutaid") != null){
          this.ruta.id = localStorage.getItem("rutaid");
          this.processRutaConsultar();
        }
        
        let dataRutaConsultarModificar = {
                        inicio: '',
                        rol: 'dropdown',
                        usuario:'dropdown',
                        vehiculo: 'dropdown',
                        ruta: 'dropdown active',
                        tarifa: 'dropdown',
                        consulta: 'dropdown',
                        compra: 'dropdown',
                    }
        this.$emit('completedRutaConsultarModificar', dataRutaConsultarModificar)
    },
}
</script>

<style>
  .rutaconsultarmodificar-main-component{
    margin: 0;
    padding: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Arial';
  }
  .rutaconsultarmodificar-content{
    width: 25%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rutaconsultarmodificar-content h2{
    text-align: center;
  }
  .rutaconsultarmodificar-content .new4{
    border-inline: 160px solid #35BEAC;
  }
  .rutaconsultarmodificar-content .rutaconsultarmodificar-form1{
    width: 70%;
  }
  .rutaconsultarmodificar-content .rutaconsultarmodificar-form1 label{
    display: inline-block;
    width: 30px;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 3px;
    font-weight: bold;
  }
  .rutaconsultarmodificar-content .rutaconsultarmodificar-form1 input{
    display: inline-block;
    width: 30%;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
  }
  .rutaconsultarmodificar-content .rutaconsultarmodificar-form1 button{
    display: inline-block;
    width: 40%;
    height: 25px;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 2px 0 5px 0;
    justify-content: center;
    font-weight: bold;
  }
  .rutaconsultarmodificar-content .rutaconsultarmodificar-form1 button:hover{
    color: #E5E7E9;
    background: #058d7b;
    border: 1px solid #283747;
  }
  .rutaconsultarmodificar-content .rutaconsultarmodificar-form2 label{
    display: inline-block;
    width: 80px;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 3px;
    font-weight: bold;
  }
  .rutaconsultarmodificar-content .rutaconsultarmodificar-form2 input{
    display: inline-block;
    width: 60%;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
  }
  .rutaconsultarmodificar-content-button{
    text-align: center;
    padding: 10px 25px;
    margin: 5px 0 25px 0;
  }
  .rutaconsultarmodificar-content .rutaconsultarmodificar-form2 button{
    display: inline-block;
    width: 40%;
    height: 25px;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 2px 0 5px 0;
    justify-content: center;
    font-weight: bold;
  }
  .rutaconsultarmodificar-content .rutaconsultarmodificar-form2 button:hover{
    color: #E5E7E9;
    background: #058d7b;
    border: 1px solid #283747;
  }
</style>