<template>
<div id="app" class="app">
  <div class="header">
    <h1>Viajes MisionTIC 2022</h1>
    <div class="navbar">
      <a href="#" :class = "inicio" v-on:click="loadHome"> Inicio </a>
      <div :class="rol">
        <button class="dropbtn">Rol
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#" v-on:click="loadRolCrear">Crear</a>
          <a href="#" v-on:click="loadRolConsultar">Consultar</a>
        </div>  
      </div>
      <div :class="usuario">
        <button class="dropbtn">Usuario
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Crear</a>
          <a href="#">Consultar/Modificar</a>
        </div>  
      </div>
      <div :class="vehiculo">
        <button class="dropbtn">Vehiculo
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Crear</a>
          <a href="#">Consultar/Modificar</a>
        </div>  
      </div>
      <div :class = "ruta">
        <button class="dropbtn">Ruta
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#" v-on:click="loadRutaCrear">Crear</a>
          <a href="#" v-on:click="loadRutaConsultarModificar">Consultar/Modificar</a>
        </div>
      </div>
      <div :class="tarifa">
        <button class="dropbtn">Tarifa
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Crear</a>
          <a href="#">Consultar/Modificar</a>
        </div>
      </div>
      <div :class = "consulta">
        <button class="dropbtn">Consultas
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#" v-on:click="loadRutas">Rutas</a>
        </div>
      </div>
      <!-- <a href="#" :class = "consulta"> Consultas </a> -->
      <a href="#" :class = "compra"> Compras </a>
      <a href="#"> Salir </a>
    </div>
  </div>
  <div class="main-component">
    <router-view
      v-on:completedHome="completedHome"
      v-on:completedRutaCrear="completedRutaCrear"
      v-on:completedRutaConsultarModificar="completedRutaConsultarModificar"
      v-on:processedRutaCrear="processedRutaCrear"
      v-on:completedRutaRutas="completedRutaRutas"
      v-on:processRutaConsultar="processRutaConsultar"
      v-on:completedRolConsultar="completedRolConsultar"
      v-on:completedRolCrear="completedRolCrear"
    >
    </router-view>
  </div>
</div>
</template>

<script>
export default{
  name: 'App',
  data: function(){
    return{
      inicio: 'dropdown',
      rol:'dropdown',
      usuario: 'dropdown',
      vehiculo: 'dropdown',
      ruta: 'dropdown',
      tarifa: 'dropdown',
      consulta: 'dropdown',
      compra: 'dropdown',
    }
  },

  methods:{
    setState: function(data) {
      this.inicio = data.inicio;
      this.rol = data.rol;
      this.usuario = data.usuario;
      this.vehiculo = data.vehiculo;
      this.ruta = data.ruta;
      this.tarifa = data.tarifa;
      this.consulta = data.consulta;
      this.compra = data.compra;
    },

    loadHome: function() {
      this.$router.push({ name: "home" });
    },

    loadRutaCrear: function() {
      this.$router.push({ name: "rutacrear" });
    },

    loadRutas: function() {
      this.$router.push({ name: "rutarutas" });
    },

    loadRutaConsultarModificar: function() {
      this.$router.push({ name: "rutaconsultarmodificar" });
    },
    loadRolConsultar: function() {
      this.$router.push({ name: "RolConsultar" });
    },
    loadRolCrear: function() {
      this.$router.push({ name: "RolCrear" });
    },
    completedHome: function(data) {
      this.setState(data);
    },

    completedRutaCrear: function(data) {
      this.setState(data);
    },

    processedRutaCrear: function(data) {
      this.setState(data);
    },

    processRutaConsultar: function(data) {
      localStorage.setItem("rutaid", data);
      this.$router.push({ name: "rutaconsultarmodificar" });
    },

    completedRutaConsultarModificar: function(data) {
      localStorage.clear();
      this.setState(data);
    },

    completedRutaRutas: function(data) {
      this.setState(data);
    },
    completedRolCrear: function(data) {
      this.setState(data);
    },

    completedRolConsultar: function(data) {
      this.setState(data);
    },
  },

  created: function(){
    this.$router.push({ name: "home" });
  },
}
</script>

<style>
 
  .header{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10vh;
    min-height: 100px;
    background-color: #35BEAC;
    color:#ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header h1{
    width: 30%;
    text-align: center;
  }
  .navbar {
    overflow: hidden;
    width: 65%;
    font-family:'Arial';
  }
  .navbar .active{
    background: #FFFFFF;
    opacity: 1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    border: none;
    width: 80px;
    height: 25px;
    font-size: 14px;
    text-decoration: none;
    background: #FFFFFF;
    margin: 3px;
    margin-top: 2px;
    text-align: center;
    opacity: 0.5;
    color: #4c4c5c;
    font-weight: bold;
    margin-bottom: 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
  }
  .navbar a {
    float: left;
    border: none;
    padding: 2px;
    width: 80px;
    height: 20px;
    text-decoration: none;
    background: #FFFFFF;
    margin: 3px;
    margin-top: 2px;
    text-align: center;
    font-size: 14px;
    opacity: 0.5;
    color: #4c4c5c;
    font-weight: bold;
    margin-bottom: 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #87cec4;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    font-size: 12px;
    padding: 3px 4px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
</style>